@import '../../styles/vars';

.input {
  &Label {
    font-size: $size-m;
    line-height: $size-l;
    cursor: pointer;

    &::after {
      content: '*';
      margin-left: $size-xxs;
      font-size: $size-m;
      font-weight: bold;
      color: red;
    }
  }

  &Input {
    padding: $size-common $size-common;
    border-radius: $size-xs;
    border: $size-xxs solid black;
  }

  &Error {
    padding-top: $size-xxs;
    margin: 0;
    position: absolute;
    font-size: $size-m;
    color: red;
    font-weight: bold;
  }
}

.error {
  border: $size-xxs solid red;
}