@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 4px 2px;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0c98b;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d0c98b;
}

.text-nowrap {
  text-wrap: nowrap;
}